<h1   class="bg-primary">Welcome to OneConversion </h1>
<!-- <app-login></app-login> -->

<!-- <h4>Testing Angular</h4>
<button (click)="readMe()">Click Me</button>

<div *ngIf="showMsg; else showElseMsg">Showing the message</div>
<div>

    <ng-template #showElseMsg>Just showing else message</ng-template>
</div>

<div [ngSwitch]="switchValue" [ngClass]="'one'"> 
        <div *ngSwitchCase="1">This is the value only</div>
        <div *ngSwitchCase="2">va</div>

        <div *ngSwitchCase="1"></div>

        <div *ngSwitchCase="'four'">Four</div>

</div>

<table class="table">
    <tr *ngFor="let user of users">
            <td [ngStyle]="{'color':'red'}">{{user.id}}</td>
            <td>{{user.firstname}}</td>
    </tr>
</table> -->
<router-outlet></router-outlet>
<app-checkout></app-checkout>
